.container {
  width: 100%;
  max-width: 15vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-bg-ii);
}

.menuButtonContainer {
  margin: 20px;
  margin-bottom: 30px;
  /* display: flex;
  justify-content: center; */
}

.menuButton {
  height: auto;
  width: auto;
  padding: 10px;
  border: 1px solid var(--color-iii);
  border-radius: 50%;
}

.menuButton:hover {
  border: 1px solid var(--color-i);
  color: var(--color-i)
}

.newChatContainer {
  /* display: flex;
  flex-direction: row;
  justify-content: space-evenly; */
  margin-left: 23px;
  margin-bottom: 40px;
}

.newChatIcon {
  height: 30px;
  width: 30px;
  padding: 10px;
  /* border: 1px solid var(--color-iii); */
  background-color: var(--color-bg-iii);
  border-radius: 50%;
}

.newChatIcon:hover {
  cursor: pointer;
  background-color: var(--color-bg-ii);
  border: 1px solid var(--color-bg-iii);
}


.newChat {
  border: 1px solid var(--color-iii);
}

.chatContainer {
  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
  width: auto;
  max-height: 100%;
  overflow: auto;
  /* border: 2px solid var(--color-iii); */
  /* background-color: darkgoldenrod; */
}

.chat {
  height: 2rem;
  color: var(--color-iv);
  padding-left: 10px;
  width: auto;
}

.chat:hover {
  background-color: var(--color-bg-iii);
  color: var(--color-w)
}

.profile {
  width: auto;
  padding: 0;
  border: 1px solid var(--color-b);
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  vertical-align: middle;
}

.profile:hover {
  cursor: pointer;
}



.settings {
  align-self: center;
  height: 30px;
  width: 30px;
}

.logoutButton:hover {
  background-color: red;
}